{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{category.name}}
      <small>Todos los posts</small>
      <div class="pull-right">
      {{ form_start(delete_form) }}
          <input class="btn btn-danger" type="submit" value="Eliminar categoria">
      {{ form_end(delete_form) }}
    </div>
</h2>



    {% for post in posts %}
    <div class="col-md-12">
      <div class="box box-widget">
        <div class="box-header with-border">
          <div class="user-block">
            <span style="margin-left:0px!important;" class="username">{{ post.title }}</span>
            <span style="margin-left:0px!important;"  class="description">Creado por {{ post.posted_by }} </span>
          </div>
        </div>
        <div class="box-body">
          <p>{{ post.content }}</p>
          <a href="{{ path('post_show', { 'id': post.id }) }}" type="button" class="btn btn-default btn-xs"><i class="fa fa-eye"></i> Ver</a>
          <a href="{{ path('post_edit', { 'id': post.id }) }}" type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> Editar</a>
          
          <span class="pull-right text-muted">{{ post.created_at }}</span>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}
